#qr-output {
    position: relative;
}
#qr-output canvas {
    min-width: 50vw;
    image-rendering: pixelated;
    padding: calc(200% / 33);
}
#qr-output canvas:not([id]) {
    background: white;

    display: block !important;
}

#qr-output img {
    display: none !important;
}