#qr-output {
    position: relative;
}
#qr-modified-output canvas ,
#qr-output canvas {
    min-width: 50vw;
    image-rendering: pixelated;
    padding: calc(200% / 33);
}
#qr-modified-output canvas:not([id]) ,
#qr-output canvas:not([id]) {
    background: white;

    display: block !important;
}

#qr-output img {
    display: none !important;
}

video#howtousevideo {
    min-width: 30vw;
    max-width: 100%;
    width: 300px;
    border: 1px solid gray;
    border-radius: 6px;
}

#footer * {
    font-size: 0.8em;
}